{% extends 'base.html.twig' %}

{% block title %}Prospect index{% endblock %}

{% block body %}
    <h1>Prospect index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.id }}</td>
                <td>{{ prospect.firstName }}</td>
                <td>{{ prospect.lastName }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.phone }}</td>
                <td>
                    <a href="{{ path('app_prospect_show', {'id': prospect.id}) }}">show</a>
                    <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prospect_new') }}">Create new</a>
{% endblock %}
