{% extends 'base.html.twig' %}

{% block title %}Prospect{% endblock %}

{% block body %}
    <h1>Prospect</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prospect.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ prospect.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ prospect.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ prospect.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ prospect.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prospect_index') }}">back to list</a>

    <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a>

    {{ include('prospect/_delete_form.html.twig') }}
{% endblock %}
